.container {
	position: relative;
}
.wrapper {
	position: relative;
}
video {
	object-fit: cover;
	width: 100%;
}

.preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.thumb {
	display: none;
}

.snap {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 4rem;
	width: 4rem;
	background-color:blue;
	border-radius: 50%;
}